{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoWoo</title>
    <link rel="stylesheet" href="{% static 'tailwind.css' %}">

</head>
<body>
    <!-- <nav class="bg-gray-800 mb-4">
        <div class="px-4 py-2 items-center text-center bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 bg">
            <a class="block mx-auto my-2 w-56 text-white font-semibold text-2xl" href="#">PasswordGenerator</a>
            <a class="block mx-auto my-2 w-20  text-gray-50  hover:text-pink-300" href="#">About me</a>

        </div>
    </nav> -->

    <nav class="bg-gray-800 py-2">
        <div class="text-center mb-2 sm:hidden">
          <a class="text-white font-semibold text-2xl" href="{% url 'todo:create_todo_page' %}">TodoWoo</a>

        </div>
        <div class="flex max-w-7xl mx-auto py-2 px-6 sm:px-12 lg:px-8 sm:space-x-2 items-center">
                <a class="hidden sm:block text-white font-semibold text-2xl mr-6" href="{% url 'todo:create_todo_page' %}">TodoWoo</a>
                <a class="bg-gray-900 mr-1 text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-blue-800" href="{% url 'todo:current_page' %}">Todos</a>
                <a class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-green-800" href="{% url 'todo:completed_todos_page' %}">Completed</a>

                {% if user.is_authenticated %}
                <!-- Logged In as <span class="right-0 text-semibold"> {{user.username}}</span> -->
                <form action="{% url 'todo:logout_page' %}" method="POST">{% csrf_token %}
                    <button class="text-gray-300 text-sm px-3 py-2 font-medium rounded-md hover:bg-gray-500 hover:text-white">Logout</button>
                </form>
                {% else %}
                    <a class="text-gray-300 text-sm px-3 py-2 font-medium text-sm rounded-md hover:bg-gray-500 hover:text-white" href="{% url 'todo:login_page' %}">Login</a>
                    <a class=" text-gray-300 text-sm px-3 py-2 font-medium text-sm rounded-md hover:bg-gray-500 hover:text-white" href="{% url 'todo:signup_page' %}">Signup</a>
                {% endif %}
            
    </nav>



    {% block content %}

    {% endblock %}
</body>
</html>