{% extends 'todo/base.html' %}

{% block content %}
    <div class="min-h-screen flex justify-center py-10 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full ">
            <div class="text-blue-500 mb-12 text-center font-extrabold text-3xl">
                
                Current Todos
            </div>
            
    {% for todo in todos %}
        <div class="justify-start  px-4 sm:px-6 lg:px-8">

        {% if todo.important %}
            <a href="{% url 'todo:todo_detail_page' todo.id %}">
                <div class="group flex flex-col mb-6 bg-yellow-100 px-4 py-4 rounded-md hover:bg-yellow-50">
                    <h1 class="text-yellow-600 text-xl mb-3 font-semibold">{{todo.title}}</h1>
                    <p class="text-yellow-500 break-all mb-4">{{todo.memo}}</p>
                    <form action="{% url 'todo:current_page' %}" class="text-center">{% csrf_token %}
                        <button class="bg-yellow-600 w-min mx-auto px-3 py-2 rounded-md text-white font-semibold hover:bg-yellow-900">Done</button>
                    </form>
                </div>
            </a>
        {% else %}
            <a href="{% url 'todo:todo_detail_page' todo.id %}">
                <div class="flex flex-col mb-6 bg-blue-100 px-4 py-4 rounded-md hover:bg-blue-50">
                    <h1 class="text-blue-600 text-xl mb-3 font-semibold">{{todo.title}}</h1>
                    <p class="text-blue-500 break-all mb-4">{{todo.memo}}</p>
                    <form action="{% url 'todo:current_page' %}" class="text-center">{% csrf_token %}
                        <button class="bg-blue-600 w-min mx-auto px-3 py-2 rounded-md text-white font-semibold hover:bg-blue-900">Done</button>
                    </form>
                </div>
            </a>

        {% endif %}


            
        </div>
    {% endfor %}

    </div>

{% endblock %}
