{% extends 'todo/base.html' %}

{% block content %}

    <div class="min-h-screen flex justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col max-w-2xl w-full space-y-6 text-center">
            <h1 class="text-3xl font-semibold text-gray-800">Simply Your Todos. Woo!</h1>
            <p class="text-gray-900 text-md">Life is fun, But life is also busy, There's a million different things you could be doing. But what matters is what you do. We created<span class="font-bold italic"> TodoWoo </span>to help you make sense of all of your opportunities and live that life that matters most to you. Your new organized life awaits.</p>
            <a href="{% url 'todo:create_todo_page' %}" class="text-white w-24 mx-auto bg-indigo-600 py-2 px-4 rounded rounded-md font-semibold hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600">Start</a>

        </div>
      </div>


{% endblock %}
